*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font: 1.6rem sans-serif;
}

form {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  margin: 1em;

  max-height: 40vh;
  overflow: auto;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  border: 1px solid #ccc;
  background: #fff;
}

form label {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

form ul {
  margin: 0 1em;
  padding: 0;
}

form li {
  margin: 0;
  margin-left: 1em;
}

form select {
  display: block;
  width: 100%;
}

pre, code {
  background: #f0f0f0;
  border: 1px solid #e0e0f0;
  padding: .25rem;
}

code {
  margin: .25rem;
}

pre {
  padding: 1em;
}
